*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'open sans', sans-serif;
    list-style: none;
}

li {
    list-style: none;
  }

body{
    background-color: aliceblue;
    margin-left: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);

}

img{
    height: 80px;
    width: 70px;
}
.logo{
    position: relative;
    padding: 10px 10px;
}

.text{
    vertical-align: 1000px;  
    position: absolute; 
    top: 40%;
    left: 60%;
    color: #000000;
    transform: translate(-60%, -40%) ;
    overflow: hidden;
    border-right: 0px solid #000000; 
    /* transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86) */
   

   
}
/* el espacio que deja entre el texto de docente y tgeneral el espacio  */
.text_t{
    
    position: absolute;
    top: 0;
    margin-top: 70px;
    left: 90px;
    color: rgb(0, 0, 0);   
    overflow: hidden;
    border-right: 0px solid #d5d5e0; 
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86)
   

}
/* ------------------------------------------------ */
header{
    width: 100%;
    height: 80px;
    background-color: #050791df;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    
}
.icon_menu{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(20px);   
}
.icon_menu i {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    
}

.menu__side {
    width: 0px;
    height: 100%;
    background-color: #d5d5e0;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 0px solid #d5d5e0; 
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}



/* ocultar menu en google  */

.menu__side::-webkit-scrollbar{
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.menu__side img{
    margin-right: 20px;
   
}
.menu_lateral {
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}


.menu_lateral a {
    color: rgb(0, 0, 0);
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
  
}

.sub-menu li i{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    color: #080808;
    margin-bottom: 10px;
    margin-left: 0px;
    
}

.sub-menu li a{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    font-size: 80%;
    
}

.menu_lateral a:hover{
    color: rgba(35, 30, 30, 0.703);
}

.menu_lateral .iocn-link {
    padding:  10px 5px;
    display: flex;
    align-items: center;
    position: relative;
    left: 5px;
    margin-left: -10px;
}


.menu_lateral .iocn-link i{
    margin-right: 5px;
    width: 20px;
    
}
.iocn-link a {
    display: flex; 
    align-items: baseline;
    justify-content: space-between; 
    width: 40%; 
    padding: 5px 1px;
    margin-bottom: 3px;
    font-size: 90%;
}

.link_name{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 90%;
}


  
a.selected{
    color: #0f0e0e;
}


.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background: #080808;
    position: absolute;
    top: 20%;
    left: -30px;

}
 /* clases imaginarias para usar en js */
 .body_move{
    margin-left: 250px;
 }
 .menu__side_move{
    width: 250px;
}

@media screen and (max-width: 760px){
    .body_move{
        margin-left: 0px;
    }

    .menu__side_move{
        width: 80px;
        left: -80px;
    }
}

.bi-chevron-bar-left{
    color: rgb(16, 16, 17);
    font-size: 30px;
    right: 6000px;
     position: absolute;
     top:50%;
    left: 80%;
    transform: translate(-50%, -50%);
    transform: translateY(-90%);
}

.row{
    margin-top: 200px;
    background-color: #f2f2f2;
    padding: 90px;
    border: 1px solid #ddd;
}
