img{
  height: 80px;
  width: 70px;
}
.logo{
  position: relative;
  padding: 10px 10px;
}
.form-control{
  width: 50px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  border: 5px solid rgb(14, 34, 211);
  border-radius: 10px;

}